.hero {
    padding: 0;
    background-color:#DC9597;
    padding: 70px;
    margin: 0;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    line-height: 140%;
  }

.welcome {
    margin-left: 70 px;
    font-family: Arial;
    color: whitesmoke;
    font-weight: bolder;
}

.name {
    margin-left: 80 px;
    font-family: Arial;
    color: whitesmoke;
    font-weight: lighter;
}

* {

  margin: 0;
  padding: 0;
}

body {

}
.welcome-text {
    font-family: Arial;
    text-align: center;
    font-size: xx-large;
    }
.my-name {
    font-family: Arial;
    text-align: center;
    color: #DC9597;
    }

.menu {
    margin-top: 200px;
    display: flex;
    gap: 30px;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    text-decoration: none;
    display: block;
}

.menu-link {
    text-align: center;
    color:#815743;
    font-family: Arial;
    text-decoration: none;
    margin-left: 110px;
}

.menu-line {
    text-align: center;
    color:#815743;
    font-family: Arial;
    text-decoration: none;
    margin-left: 110px;
}

.menu-link:hover{
    transition: 0.5s;
    color: #E69D71;
}


.item {
    text-decoration: none;
    font-family: Arial;
}

.projectlist li {
    color:#DC9597;
    margin: 10 px;
}

.poster {
    position: relative;
    z-index: 1;
    display: block;
    margin-left: auto;
    top: 20 px;
    max-width: 25%;
    margin-right: auto;
}

.characteristics {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    gap: 10px; /* Adjust the space between the items */
}

.char-block {
    
    background-color: #815743; /* Optional: Add a background color for better visibility */
    text-align: center; /* Center the text inside each item */
    font-family: Arial;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 28px;
    color: Whitesmoke;
    font-weight: bolder;
}

.genre-block {
    
    background-color: #E69D71; /* Optional: Add a background color for better visibility */
    text-align: center; /* Center the text inside each item */
    font-family: Arial;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 28px;
    color: Whitesmoke;
    font-weight: bolder;
}

.title {
    text-align: center;
    font-family: Arial;
    font-weight: 800;
    color: #DC9597;
    font-size: xx-large;
}
.undertitle {
    text-align: center;
    font-family: Arial;
    font-weight: 760;
    color:#886d60;
}

.project-about {
    text-align: justify;
    margin-left: 740px;
    margin-right: 740px;
    font-family: Arial;
    font-size: large;

}

.doc {
    text-align: center; /* Center the text inside each item */
    font-family: Arial;
    font-size: large;
}

.doc-name {
    text-decoration: none;
    color:#974665;
}

.doc-name:hover {
  transition: 0.5s;
  color: #E69D71;
}


/*smaller screen customizing*/
